.profile-container{
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 10px darkgray;
    transition: 0.4s all ease;
}
.profile-container:hover{
    background-color: rgba(235, 195, 17, 0.075);
    transform: scale(.95);
}
.profile-wrapper img{
    width: 50%;
    border: 2px solid darkgray;
}
.profile-wrapper{
    margin-top: 10px;
}
.btn-cart{
    padding: 10px 60px;
    background-image: linear-gradient(rgba(11, 71, 11, 0.884), rgb(21, 117, 29));
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 5px;
    border:1px solid darkgreen;
    transition: 0.3s all ease;
   }
   .btn-cart:hover{
       background-image: linear-gradient(rgba(0, 128, 0, 0.76),rgba(0, 128, 0, 0.904));
       border:none;
   }